@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h4>If you have any questions, you can contact me.</h4>

<address>
    <b>Address:</b><br />
    Sweden<br />
    Vägen<br />
    15-15
</address>