@model Inlämmningsuppgift_ASP.NET_MVC.ViewModels.ProductViewViewModel
@{
    ViewBag.Title = "View Product";
}

<h2>Product Info</h2>

<p>
    @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer})
</p>

<table class="table">
    <tr>
        <td>Product</td>
        <td>@Model.name</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.description</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.price</td>
    </tr>
</table>
